In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
data=pd.read_csv('census-income_.csv')
data

NameError: name 'pd' is not defined

In [3]:
data= data.replace('?',np.nan)

In [4]:
data.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
Unnamed: 14          0
dtype: int64

In [5]:
data=data.rename(columns={'Unnamed: 14': 'AnnualIncome'})

In [6]:
data[(data['workclass']=='Private') & (data['native-country']!='United-States')].shape

(2561, 15)

In [7]:
census_ed=data['education']

In [8]:
census_ed

0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
            ...
32556    Assoc-acdm
32557       HS-grad
32558       HS-grad
32559       HS-grad
32560       HS-grad
Name: education, Length: 32561, dtype: object

In [11]:
census_seq=data.iloc[:,:8]

In [12]:
census_seq

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife
...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife

In [15]:
census_col=data.iloc[:,[5,8,11]]
census_col

           marital-status   race  capital-loss
0           Never-married  White             0
1      Married-civ-spouse  White             0
2                Divorced  White             0
3      Married-civ-spouse  Black             0
4      Married-civ-spouse  Black             0
...                   ...    ...           ...
32556  Married-civ-spouse  White             0
32557  Married-civ-spouse  White             0
32558             Widowed  White             0
32559       Never-married  White             0
32560  Married-civ-spouse  White             0

[32561 rows x 3 columns]

In [16]:
data.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,AnnualIncome
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [19]:
male_gov=data[(data['sex']=='Male') & (data['workclass']=='State-gov')]

In [27]:
census_us=data[(data['age']==39)& ((data['education']=='Bachelors') |(data['native-country']=='United-States'))]

In [30]:
census_200=data.sample(200)
census_200

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,AnnualIncome
22671,32,Self-emp-inc,275094,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,7688,0,55,Mexico,>50K
9798,49,Private,28334,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
29634,62,Private,174711,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,32,United-States,<=50K
30002,18,Private,279593,11th,7,Never-married,Prof-specialty,Own-child,White,Female,0,0,2,United-States,<=50K
3850,45,Private,33300,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,1977,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2626,52,Federal-gov,30731,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298,0,40,United-States,>50K
1252,30,Private,283767,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,NaN,<=50K
12600,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
11897,47,Private,191277,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
16387,17,Private,173807,11th,7,Never-married,Craft-repair,Own-child,White,Female,0,0,15,United-States,<=50K

In [32]:
data['workclass'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [37]:
data.groupby('workclass')['capital-gain'].mean()

workclass
Federal-gov          833.232292
Local-gov            880.202580
Never-worked           0.000000
Private              889.217792
Self-emp-inc        4875.693548
Self-emp-not-inc    1886.061787
State-gov            701.699538
Without-pay          487.857143
Name: capital-gain, dtype: float64

In [ ]:
income_df = data[data['AnnualIncome'] > '50k']
males_df = income_df[income_df['sex'] == 'Male']
females_df = income_df[income_df['sex'] == 'Female']

In [1]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data['workclass'] = labelencoder.fit_transform(data['workclass'])
data['education'] = labelencoder.fit_transform(data['education'])
data['marital-status'] = labelencoder.fit_transform(data['marital-status'])
data['occupation'] = labelencoder.fit_transform(data['occupation'])
data['relationship'] = labelencoder.fit_transform(data['relationship'])
data['race'] = labelencoder.fit_transform(data['race'])
data['sex'] = labelencoder.fit_transform(data['sex'])
data['native-country'] = labelencoder.fit_transform(data['native-country'])

NameError: name 'data' is not defined

In [28]:
data['AnnualIncome'] = labelencoder.fit_transform(data['AnnualIncome'])

In [29]:
x=data.iloc[:,:-1]
x
y=data.iloc[:,-1]
y

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: AnnualIncome, Length: 32561, dtype: int32

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import *

In [31]:
m1=LogisticRegression()
x_train, x_test, y_train, y_test=train_test_split(x,y, train_size=0.65, random_state=0)
m1.fit(x_train, y_train)
p1=m1.predict(x_test)

In [34]:
#prediction of logistic reg
p1[:20]

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [35]:
m2=DecisionTreeClassifier()
x_train, x_test, y_train, y_test=train_test_split(x,y, train_size=0.70, random_state=0)
m2.fit(x_train, y_train)
p2=m2.predict(x_test)

In [36]:
#prediction of Decision tree reg
p2[:20]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0])

In [37]:
m3=RandomForestClassifier()
x_train, x_test, y_train, y_test=train_test_split(x,y, train_size=0.70, random_state=0)
m3.fit(x_train, y_train)
p3=m3.predict(x_test)

In [38]:
#prediction of Decision tree reg
p3[:20]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0])

In [39]:
print('Accuracy of Logistic Regression Model: ')
print(accuracy_score(y_test, p1))
print('Accuracy of Decision Tree Model: ')
print(accuracy_score(y_test, p2))
print('Accuracy of Random Forest Model: ')
print(accuracy_score(y_test, p3))

Accuracy of Logistic Regression Model:
0.7923021803664654
Accuracy of Decision Tree Model:
0.8072474152932746
Accuracy of Random Forest Model:
0.8568942573446617

In [40]:
print('Confusion Matrix of Logistic Regression Model: ')
print(confusion_matrix(y_test, p1))
print('Confusion Matrix of Decision Tree Model: ')
print(confusion_matrix(y_test, p2))
print('Confusion Matrix of Random Forest Model: ')
print(confusion_matrix(y_test, p3))

Confusion Matrix of Logistic Regression Model:
[[7042  365]
 [1664  698]]
Confusion Matrix of Decision Tree Model:
[[6443  964]
 [ 919 1443]]
Confusion Matrix of Random Forest Model:
[[6882  525]
 [ 873 1489]]

In [41]:
print('Classification Report of Logistic Regression Model: ')
print(classification_report(y_test, p1))
print('Classification Report of Decision Tree Model: ')
print(classification_report(y_test, p2))
print('Classification Report of Random Forest Model: ')
print(classification_report(y_test, p3))

Classification Report of Logistic Regression Model:
              precision    recall  f1-score   support

           0       0.81      0.95      0.87      7407
           1       0.66      0.30      0.41      2362

    accuracy                           0.79      9769
   macro avg       0.73      0.62      0.64      9769
weighted avg       0.77      0.79      0.76      9769

Classification Report of Decision Tree Model:
              precision    recall  f1-score   support

           0       0.88      0.87      0.87      7407
           1       0.60      0.61      0.61      2362

    accuracy                           0.81      9769
   macro avg       0.74      0.74      0.74      9769
weighted avg       0.81      0.81      0.81      9769

Classification Report of Random Forest Model:
              precision    recall  f1-score   support

           0       0.89      0.93      0.91      7407
           1       0.74      0.63      0.68      2362

    accuracy                           0.86      9769
   macro avg       0.81      0.78      0.79      9769
weighted avg       0.85      0.86      0.85      9769